.nav{
    font-family: 'Signika', sans-serif;
    background-image: linear-gradient(var(--blue-secundary), var(--blue));
    max-width: 1570px;
    width: 100%;
    margin: 0 auto;
}

.introduction{
    max-width: 1570px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "title Img"
    "effect effect";
    gap: 20px;
    align-items: center;
    margin: 0 auto;
    margin-top: 60px;
}

.titulo{
    color: #FFFFFF;
    letter-spacing: 1px;
    justify-content: center;
    margin: auto;
    grid-area: title;
    
}

.titulo span{
    font-size: 2.25rem;
    position: relative;
    margin-left: 13px;
    line-height: 0px;
}

.titulo h1{
    font-size: 4.125rem;
    max-width: 300px;
    line-height: 70px;
    letter-spacing: 1px;
}

.titulo p{
    font-size: 1.375rem;
    max-width: 400px;
    letter-spacing: 1px;
}

.Img > *{
    margin: 0 auto;
    width: 100%;
    grid-area: Img;
}

.ImgEffect{
    grid-area: effect;
    position: relative;
    top: 10px;
    height: 200px;
    background: url('../../assets/ImgWavyEffect.svg');
    background-size: cover;
    width: 100%;
}


@media (max-width: 901px) {
    .introduction{
        margin-top: 0px;
    }
    .titulo{
        padding-left: 20px;
    }
    .titulo span{
        font-size: 2rem;
    }
    
    .titulo h1{
        font-size: 3.75rem;
        max-width: 300px;
        line-height: 70px;
        letter-spacing: 1px;
    }
    
    .titulo p{
        font-size: 1.125rem;
        max-width: 400px;
        letter-spacing: 1px;
    }
}

@media (max-width: 701px) {
    .introduction{
        margin-top: 0px;
    }
    .titulo{
        padding-left: 20px;
    }
    .titulo span{
        font-size: 1.75rem;
    }
    
    .titulo h1{
        font-size: 3.5rem;
        max-width: 300px;
        line-height: 60px;
        letter-spacing: 1px;
    }
    
    .titulo p{
        font-size: 1rem;
        max-width: 400px;
        letter-spacing: 1px;
    }
}

@media (max-width: 630px){
    .introduction{
        display: grid;
        grid-template-columns: 1fr;
    }
    .titulo{
        margin-top: 150px;
        
    }
    .Img > *{
        display: none;
    }
}


